:root {
    --grid-gap: 0.5rem;
    --row-count: 12;
    --column-count: 12;
    --board-bg-color: #787878;
    --cell-bg-color: #ECECEC;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.board {
    display: grid;
    gap: var(--grid-gap, 1rem);
    grid-template-columns: repeat(var(--column-count), minmax(1rem, 1fr));
    grid-template-rows: repeat(var(--row-count), minmax(1rem, 1fr));
    padding: 1rem;
    background-color: var(--board-bg-color, #787878);
}

.cell {
    display: grid;
    place-items: center;
    background-color: var(--cell-bg-color, #ECECEC);
    font-size: calc(1vw + 4rem);
}